#home {
    width: 10%;
    height: 50px;
    background: yellowgreen;
}

#search {
     width: 10%;
     height: 50px;
     background: orangered;
     margin-left: auto;
     flex: 1;
}

#logout {
     width: 10%;
     height: 50px;
     background: yellowgreen;
     
}
.container > div {
    flex: 1;
}
.container {
    display: flex;

    border-style: solid;
    border-width: thin;
    border-color: blue;
}